<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="bonifyLoginPage.ForgotPasswordTest"/>
      <class name="bonifyLoginPage.RegistrationTest"/>
      <class name="bonifyLoginPage.Task3_LoginPageValidation"/>
      <class name="bonifyLoginPage.LoginTest_With_Multiple_Users"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
